@import "sample";
@import "mixin_sample";
/* ================HEADER============== */
.page-header {
  margin-bottom: 28px;
  @extend %leveler, %flx, %sz-pg;
  &__logo {
    margin: 31px 0 0 97px;
  }

  &__main-nav {
    margin: 35px 0 0 0;
    // @extend %vis-ast; visual assistant
  }

  &__user-nav {
    margin: 35px 100px 0 0;
  }
}
.visually-hidden {
  display: none;
}
.main-nav {
  @extend %flx;
  // @extend %vis-ast; visual assistant
  &__logo {
    display: inline-block;
    margin: -4px 20px 0 0;
  }

  &__list {
    @extend %flx;
  }

  &__item {
    margin-right: 65px;
    @include lst-chld;
  }

  &__link {
    font-size: 14px;
    line-height: 16px;
    color: #555248;
  }
}

.logo {
  // &__link {
  // }

  &__img {
    width: 104px;
    height: 26px;
  }
}
.user-nav {
  position: relative;
  width: 99px;
  height: 21px;
  &__list {
    @extend %flx;
  }

  &__item {
    margin-right: 23px;
    @include lst-chld;
  }

  // &__link {

  // }

  &__icon {
    margin-top: 5px;
  }
}
// .icon {
// }
.msg-counter {
  position: absolute;
  border-radius: 50%;
  display: block;
  background: #e6c8b4;
  width: 13px;
  height: 13px;
  top: 0;
  right: 35px;
  font-size: 8px;
  text-align: center;
  color: #1b1a17;
  line-height: 13px;
}
.main {
  @extend %sz-pg, %leveler;
}
.link-form {
  @extend %stl-linkForm;
}
