@import "sample";

/* ================Section Advantage============== */
.advantage {
  &__wrapper {
    @extend %flx;
    position: relative;
    top: 0;
  }

  &__bg-left {
    width: 468px;
    height: 519px;
    background-color: #f7f5ef;
  }

  &__bg-right {
    flex-wrap: nowrap;
    width: 898px;
    height: 519px;
    background: #fdfdfb url(./../img/lines_banner.png) no-repeat right;
  }
  &__content {
    position: absolute;
    top: 0;
    @extend %flx;
  }

  &__left {
    margin: 52px 0 53px 177px;
  }

  &__right {
    margin-left: 69px;
  }

  &__img {
    width: 521px;
    height: 414px;
  }

  &__scroll-controll {
    position: absolute;
    bottom: 21px;
    left: 552px;
  }

  &__title {
    margin-top: 140px;
    @extend %stl-other-tl;
  }

  &__description {
    width: 376px;
    margin: 38px 0 45px 1px;
  }

  &__link {
    display: block;
    background-color: #d4b098;
  }
}
.scroll-controll {
  @extend %flx;
  width: 63px;
  height: 13px;
  // &__btn {
  // }

  &__position {
    width: 13px;
    height: 12px;
    font-size: 12px;
    line-height: 16px;
    @extend %stl-prs-crd, %leveler;
    color: rgba(27, 26, 23, 0.82);
  }
}
.btn {
  width: 5px;
  height: 10px;
  // &__img {
  // }
}
